.td-weight-half{
    width:50%;
    border: none;
}
.img-width{
    width:100%;
}
.td-vertical-top{
    padding-top:10%;
}
.table-middle{
    width:80%;
}
.align-center{
    display: flex;
    align-items: center;
}
.center-vertical{
    position: relative;
    transform: translateY(50%);
}
.title{
    color:white;
    background-color: black;
}