.div-upload{
    position: relative;
    transform: translateY(50%);
}
.center-vertical{
    position: relative;
    transform: translateY(30%);
}
.td-width-weight{
    background-color:lightblue;
    width:30%;
}
.table-middle{
    width:90%;
}