.width-weight-5{
    width:5%;
}
.width-weight-15{
    width:15%;
}
.width-weight-30{
    width:30%;
}
.width-weight-50{
    width:50%;
}
.table-middle{
    width:60%;
}
.table-middle th, .table-middle td{
    vertical-align: middle;
}
.center-vertical{
    position: relative;
    transform: translate(20%,30%);
}