<div class="row table-bordered bg-light center-vertical">
    <div class="col-md-4 offset-md-4">
        <form role="form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
            <div id="alertOldpwd" class="alertInit alert alert-danger" contenteditable="true" [textContent]="alertMsg.oldpwd" (input)="alertMsg.oldpwd=$event.target.textContent">{{alertMsg.oldpwd}}</div>
            <div class="form-group">
                <label for="oldpwd">Old Password</label>
                <input id="oldpwd" name="oldpwd" class="form-control" type="password" [(ngModel)]="updatePwd.oldpwd" (blur)="validUpdatePwd($event)">
            </div>
            <div id="alertNewpwd" class="alertInit alert alert-danger" contenteditable="true" [textContent]="alertMsg.newpwd" (input)="alertMsg.newpwd=$event.target.textContent">{{alertMsg.newpwd}}</div>
            <div class="form-group">
                <label for="newpwd">New Password</label>
                <input id="newpwd"name="newpwd" class="form-control" type="password" [(ngModel)]="updatePwd.newpwd" (blur)="validUpdatePwd($event)">
                <label class="text-left small">{{pwdtip}}</label>
            </div>
            <div id="alertConfirmpwd" class="alertInit alert alert-danger" contenteditable="true" [textContent]="alertMsg.confirmpwd" (input)="alertMsg.confirmpwd=$event.target.textContent">{{alertMsg.confirmpwd}}</div>
            <div class="form-group">
                <label for="confirmpwd">Confirm Password</label>
                <input id="confirmpwd" name="confirmpwd" class="form-control" type="password" [(ngModel)]="updatePwd.confirmpwd" (blur)="validUpdatePwd($event)" >
            </div>
            <div class="form-group">
                <input type="submit" disabled="disabled" class="btn btn-success form-control" id="submit" value="save">
            </div>
        </form>
    </div>
</div>