
.table-middle{
    width:60%;
}
.td-width-weight{
    width:35%;
}
caption{
    caption-side: top;
}
.div-center{
    text-align: center;
}

.center-vertical{
    position: relative;
    transform: translate(20%,30%);
}
.alertInit{
    display: none;
}
.no-bodder-bottom{
    border-bottom: none;
}