.nav-font{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: larger;
}
.dropdown-menu-width{
    width: 200px;
}
/* override bootstrap css */
.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: black;
}