.td-weight-half{
    width:40%;
    color:white;
    background-color:rgb(0, 162, 255);
}
caption
{
    caption-side:top;
}
.center-vertical{
    position: relative;
}
.table-middle{
    width:60%;
}